body
{
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1
{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 0;
}

h3
{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr
{
  border: 0;
  height: 2px;
  width: 30%;
  background: #99d8d0;
  margin-top: 100px;
  margin-bottom: 100px;
}

p
{
  font-size: 18px;
  margin: 0;
}

a
{
  text-decoration: none;
  color: #8cc2c2;
}

a:hover
{
  color: #5da3a3;
}

.top-container
{
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  margin: auto;
  line-height: 2;
}

.bottom-container
{
  background-color: #e3fdfd;
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyrights-text
{
  font-size: 15px;
}

.bottom-paragraphs
{
  padding-top: 30px;
}

/* Images */
.smiley-face
{
  width: 200px;
  height: 200px;
}

.mountain
{
  margin-top: 100px;
}

.top-cloud
{
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
